<h1><%= @post.title %></h1>
<h5><a href='<%= @post.url %>'><%= @post.url %></a></h5>

<% @post.comments.each do |comment| %>
  <div class='comment'>
    <%= comment.content %>
  </div>
  </br>
<% end %>

<form action="/posts/<%= @post.id %>/comments" method="post">
  <h2>Add a new comment:</h2>
  <textarea name="comment[content]" placeholder='comment'>
  </textarea>
  <br>
  <input type="submit" value='new post'>
</form>

<br>
<a href='/posts'><<< Back to all posts</a>
